
    .filter-btn.active {
        background-color: #700505 !important;
        border-color: #700505 !important;
        color: #FFDF00 !important;
    }
    .btn-outline-dark:hover {
        background-color: #700505;
        border-color: #700505;
        color: #FFDF00;
    }

.btn-reservasi {
    background-color: var(--secondary); /* Menggunakan variabel secondary #FFDF00 */
    color: #000;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    line-height: 1.4;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: none;
    transition: .3s;
}

.btn-reservasi:hover {
    background-color: #e6c200;
    color: #000;
}



.royal-gallery .text-royal-maroon {
    color: #700505 !important;
}

.royal-gallery .gallery-item {
    transition: all 0.4s ease-in-out;
}

.royal-gallery .card {
    transition: transform 0.3s ease;
    border-radius: 12px;
    overflow: hidden;
}

.royal-gallery .card:hover {
    transform: translateY(-10px);
}

.royal-gallery .gallery-img {
    height: 250px;
    object-fit: cover;
}

.royal-gallery .filter-btn.active {
    background-color: #700505 !important;
    color: #FFDF00 !important;
    border-color: #700505 !important;
}

.royal-gallery .badge-category {
    background-color: #700505;
    color: #ffffff;
}
